APP_NAME=Lost Saga RESTfull API
APP_ENV=local
APP_KEY=base64:
APP_DEBUG=true
APP_LOG_LEVEL=debug

APP_HOST=http://localhost
APP_PORT=3001

APP_VERSION=1.0.0
APP_TIMEZONE=UTC
APP_LOCALE=en

LAUNCHER_KEY=
API_KEY=

SERVER_ID=

BILLING_NAME=
BILLING_SECRET=100103
BILLING_API_KEY=

DISCORD_WEBHOOK_MAIN=
DISCORD_WEBHOOK_MAIN_AVATAR=
DISCORD_WEBHOOK_LAUNCHER=
DISCORD_WEBHOOK_LAUNCHER_AVATAR=
DISCORD_WEBHOOK_BILLING=
DISCORD_WEBHOOK_BILLING_AVATAR=

DATABASE_URL="sqlserver://HOST:PORT;database=LosaGame;user=USERNAME;password=PASSWORD;encrypt=true;TrustServerCertificate=true;"